/*@@@@@@@@@@@@@@@@@@@@@@@@@ 헤더 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: #26272d;
}
a:hover,
a:focus {
    color: #6fc754;
    outline: 0 none;
    text-decoration: none;
    transition: all 0.4s;
}
/* 헤더 모든 부분 */
.navbar {
    display: flex block;
    font-family: 'Montserrat', sans-serif;;
    justify-content: space;
    align-items: center;
    background-color: white;
    padding: 8px 12px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

/* strap_m_ */
.navbar_title{
    font-size: 24px;
    font-weight: bold;
    color: #363738;
    padding-top: 15px;
    padding-left: 15%;
    padding-bottom: 18px;
    line-height: 0.5%;
}
.navbar_title i{
    color: #363738;
}

.navbar_title span:hover{
    color: #363738;
}
/* home, insta ..... */
.navbar_menu{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    list-style: none;
    padding: 10% ;
    line-height: 40px;
    align-items: center;
    margin: 0;
}

.navbar_menu li{
    padding: 8px 12px;
    
}
/* 메뉴 위에 마우스 올라갔을때 */
.navbar_menu li:hover{
    color: #6fc754;
    border-radius: 4px;
}

/* 햄버거 버튼 */
.navbar_toggleBtn{
    display: none;
    position: absolute;
    right:32px;
    font-size: 24px;
    color: wheat;
}




/* @@@@@@@@@@@@@@@@@@@@@ MY story ... hero @@@@@@@@@@@@@@@@@@@ */
/* 배경 고양이사진  */
.hero { 
    background: url(img/cat.jpg) no-repeat center / cover; 
    width: 100%;
    height: 844px;
    
    display: table;
    z-index: -1;
    position: relative;
    right: 0%;
    left: 0%;
    bottom: 100px;
}

/* 배경 뿌옇게 효과 처리 */
.overlay{
    top:100px;
    position: absolute;
}
.overlay:before {
  content: '';
  background-color: rgba(255,255,255,0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 0;
}

/* 글자 쓰기위한 padding */
.hero-content {
    display: table-cell;
    vertical-align: middle;
    padding-top: 400px;
    padding-bottom: 300px;
}

/* MY story + Your client ....(의 위치설정) */
.hero-text {
    max-width: 700px;
    width: 100%;
    top: 0;
    margin: -250px auto;
 
    padding: 0 15px;
    text-align: center;
}

/* my storry (h1의 위치 설정) */
.hero-text h1 {
    position: relative;
    margin-top: 13%;
    font-size: 62px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

/* your client ..(p 위치설정) */
.hero-text p {
    position: relative;
    margin-top: 35%;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    color: #535353;
    line-height: 22px;
}

/* Learn more 버튼 설정  */
.hero-text .btn {
    position: relative;
    background-color: transparent;
}

.hero-text .btn:hover {
    background-color: #26272d;
    color: #fff;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MAIN~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.block{
    display:block;
}

.site-main{
    display: block;
    position: relative;
    top:845px;
    width: 100%;
    height: 3050px;
}


/* @@@@@@@@@@@@@@@@2번째 단락@@@@@@@@@@@@@@@ */


.profile{
    position: relative;
    display: block;
    
    width: 80%;
    padding-top: 5%;
    padding-left: 15%;

    background-color: #fff;
}


.profile h2{
    font-size: 38px;
    letter-spacing: 1px;
}

.profile p{
    font-size: 16px;
    width: 65%;
    color: #1a1b1f;
    margin-bottom: 8%;

}


/* @@@@@@@@@@@@@@3번쨰 단락 (개발 경험) @@@@@@@@@ */
.third {
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;

    text-align: center;
    background-color: #eee;
 }

 .photo-content h2{
    font-size: 24px;
 }

.photo-content p{
    font-size: 18px;
    margin-left: 25%;
    margin-right: 25%;
    color: #202525;
}

/* @@@@@@@@@@@@@@4번쨰 단락 (18주간의 ) @@@@@@@@@*/

.study{
    display: block;
    position: relative;
    padding: 50px 0 50px;
    width: 100%;
    
    
}

.study-plan {
    padding: 30px 10% 30px 10%;
    text-align: center;
    margin-bottom: 50px;
}

.study-plan h2{
    font-size: 35px;
    margin-bottom: 50px;
}

.study-plan h3{
    font-size: 22px;
}

.study-plan p{
    font-size: 17px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;
    color: #43444b;
}
.study-plan span{
    font-weight: 600;
    color: #090a0a;
}

/* @@@@@@@@@@@@@@5번쨰 단락 (나만의 포트폴리오) @@@@@@@@@ */
.fifth {
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #eee;
 }
 .photo2-content h2{
    font-size: 22px;
    margin-bottom: 45px;
 }

.photo2-content p {
    font-size: 18px;
    font-size: 18px;

    color: #090a0a;
    margin-left: 29%;
    margin-right: 29%;
}

/* @@@@@@@@@@@@@@6번쨰 단락 (경력사항 및 자격증)@@@@@@@@@ */
.sixth {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    text-align: center;
 }

.content2 p{
    padding-top: 15px;
    font-size: 18px;
}



/* 버튼@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* button */
.btn {
    line-height: 50px;
    width: 200px;
    
    font-size: 16px;
    font-weight: 300;
    border: 0;
    border-radius: 50px;
    color: #26272d;
    background-color: #fff;
    padding: 0;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.btn-border {
    border: 1px solid #26272d;
}

.btn-fill {
    background-color: #267df4;
    color: #fff;
}

.btn-gray {
    background-color: #f5f5f8;
    color: #26272d;
}

.btn-green {
    background-color: #6fc754;
    color: #fff;  
}










/* 화면 작아졌을때 ex)핸드폰 화면
@media screen and (max-width: 720px) {
    .navbar{
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: #fff;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 24px;
    }

    .navbar_title{
        position: absolute;
        top: 15px;
        left: 35px;
        padding: 0 0;
        font-size: 22px;
    }

    .navbar_menu{
        display: none;
        flex-direction: column;
        padding: 0 0;
        position: absolute;
        right: 1%;
        top: 30px
    }

    .navbar_menu a{
        display: block;
    }
    

    .navbar_toggleBtn{
        display: block;
    }

    /* 햄버거 눌렀을때 나오는 메뉴 창 */
    /* .navbar_menu.active{
        display: flex;
        background-color: #fff;
        margin-top: 20px;
        border-radius: 12px;
        border: 2px solid wheat;
        
    }

    /* 고양이 부분  */
    /* .hero-text h1 {
        font-size: 120%;
        font-family: inherit;
        font-weight: 500;
        
        line-height: 1.1;
        max-width: 400px;
        margin: 100px auto;

    }

    .hero-text p{
        font-size: 40%;
        max-width: 70%;
        margin: 70px auto 30px;
    }

    .hero-text .btn{
        width: 140px;
        height: 37px;
        line-height: 2;
        top: -10px;
    } */

    /* 두번쨰 단락 */
    /* .not h2{
        font-size: 1.5rem;
       
    }
    
    .not p2{
        font-size: 80%;
    }
    

}   */
